h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: "latoWeb";
  line-height: 5
}
ul {
  line-height: 40px;
}
#jumbo{
  float:center;
  height:5em;
  width: 5em
}
body {

    background-image: url("https://unsplash.com/photos/hSODeSbvzE0");
}
